.bot {
  margin: 40px 0;
  display: flex;
  justify-content: center;
  position: fixed;
  right: 40px;
  bottom: 40px;
  z-index: 9999;
  box-shadow: 5px 5px 13px rgb(91 81 81 / 40%);
  border-radius: 5px;
}

/* .react-chatbot-kit-chat-inner-container {
} */

.react-chatbot-kit-chat-container {
  border: 1px solid lightgray;
  border-radius: 3px;
}

.react-chatbot-kit-user-chat-message {
  display: flex;
  word-break: break-all;
}

.react-chatbot-kit-chat-message-container {
  overflow-x: hidden !important;
  overflow-y: scroll !important;
}

.react-chatbot-kit-chat-message-container::-webkit-scrollbar {
  display: none;
}

.react-chatbot-kit-chat-bot-avatar-letter {
  margin-top: auto;
}

.bot__button {
  width: 50px;
  height: 50px;
  border-radius: 25px;
  background-color: #2ca8ff;
  border: none;
  position: fixed;
  bottom: 15px;
  z-index: 9999;
  right: 40px;
  outline: none;
}
